Source: imx-firmware
Maintainer: AIY Projects <support-aiyprojects@google.com>
Build-Depends: debhelper
Section: misc
Priority: optional

Package: imx-firmware
Section: misc
Priority: required
Depends: firmware-atheros
Architecture: arm64
Description: Binary firmwares required for i.MX8
